body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
  display: block;
}

.title {
  background: #e3f4ff;
  margin: 10px 5px;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin: 10px 5px;
  padding: 12px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px 5px ;
  text-align: center;
  padding: 12px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 12px;
  margin-left: 135px;
}
